*{
  padding:0;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}
@media(max-width:768px){
  body{
    display: flex;
  align-items:center;
  justify-content:center;
  }
}